body,
html {
    height: 100%
}

body {
    background-color: #E3EAFF;
}

.orders {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
    color: white;
}

.red,
.yellow,
.blue,
.green {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.red {
    background-color: #9C333C;
}

.red_order {
    display: inline-flex;
    background-color: #F76A74;
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.yellow {
    background-color: #D49F0D;
}

.yellow_order {
    background-color: #EDDF1A;
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.blue {
    background-color: #537C8A;
}

.blue_order {
    background-color: #A6E9FF;
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.green {
    background-color: #22B14C;
}

.green_order {
    background-color: #D3F9BC;
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.exchange_page {
    text-align: center;
    margin: 0 auto;
}

.submit_orders {
    display: inline-block;
    background-color: #217D0C;
    font-family:  'Jersey 10';
    font-size: 36px;
    height: 100px;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.trade_page {
    background: #94ABF1;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.trade_img {
    width: 40px;
    height: auto;
}

.banner {
    background: #3E69E8;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-bottom: 2rem;
}

.banner_text {
    font-family: 'Jersey 10';
    font-size: 50px;
}

.legend {
    background: #3E69E8;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.legend h3 {
    font-family: 'Jersey 10';
    font-size: 30px;
}

.trades {
    background: white;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    max-height: 1200px;
}

.race_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Jersey 10';
}

.race_img {
    max-width: 600px;
}

.buying_power {
    background: #3E69E8;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 100px;
    text-align: center;
    justify-content: center;
    margin-bottom : 1rem;
}

.full_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.fills {
    display: flex;
    justify-content: space-evenly;
}

.username_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.username_title {
    display: flex;
    font-size: 70px;
    font-family: "Jersey 10";
    margin: 0;
}

.username_form {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.username_input {
    display: flex;
    height: 30px;
    font-size: 20px;
}

.username_submit {
    background-color: #22B14C;
    height: 30px;
}

.loading {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.holdings_div {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.racers_div {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.race_page {
    align-items: center;
    justify-content: center;
}

.race_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.results_page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.winner_results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 50px;
}

.pot_winner {
    text-align: center;
}

.winner_img {
    width: 80px;
    height: auto;
}

.player_results_div {
    display: flex;
    justify-content: space-evenly;
    font-size: 28px;
}